# URL de base de ton bot Python (aiohttp server)
# Ex: https://mon-bot.railway.app  ou  http://localhost:8080 en dev
VITE_BOT_API_URL=https://experienced-marnie-imbd-db361783.koyeb.app

# Adresse TON qui reçoit les paiements (format user-friendly TON)
# Ex: UQD... (commence par UQ)
VITE_TON_WALLET=UQCTEfgy5MouZG3gcLzTFvi8JoPDWCVfU4HTx4Lukoo8Lcou

# URL complète du manifest TON Connect (hébergé dans /public)
VITE_TONCONNECT_MANIFEST_URL=https://jks-blond.vercel.app/tonconnect-manifest.json
